table tr[id='15'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='11'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='9'] td:nth-child(2),
table tr[id='8'] td:nth-child(2),
table tr[id='7'] td:nth-child(2),
table tr[id='6'] td:nth-child(2),
table tr[id='5'] td:nth-child(2),
table tr[id='4'] td:nth-child(2),
table tr[id='3'] td:nth-child(2),
table tr[id='2'] td:nth-child(2),
table tr[id='1'] td:nth-child(2),
table tr[id='0'] td:nth-child(2){color: red}