table tr[id='4'] td:nth-child(2),
table tr[id='7'] td:nth-child(2),
table tr[id='9'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='11'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='15'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='25'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='39'] td:nth-child(2),
table tr[id='40'] td:nth-child(2),
table tr[id='41'] td:nth-child(2),
table tr[id='42'] td:nth-child(2),
table tr[id='43'] td:nth-child(2),
table tr[id='44'] td:nth-child(2){color: red}