table tr[id='7'] td:nth-child(2),
table tr[id='8'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='25'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='28'] td:nth-child(2),
table tr[id='30'] td:nth-child(2),
table tr[id='31'] td:nth-child(2),
table tr[id='32'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='35'] td:nth-child(2),
table tr[id='36'] td:nth-child(2),
table tr[id='44'] td:nth-child(2),
table tr[id='45'] td:nth-child(2),
table tr[id='46'] td:nth-child(2),
table tr[id='47'] td:nth-child(2),
table tr[id='48'] td:nth-child(2),
table tr[id='49'] td:nth-child(2),
table tr[id='50'] td:nth-child(2){color: red}