table tr[id='7'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='15'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='19'] td:nth-child(2),
table tr[id='20'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='31'] td:nth-child(2),
table tr[id='32'] td:nth-child(2),
table tr[id='33'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='35'] td:nth-child(2),
table tr[id='36'] td:nth-child(2),
table tr[id='38'] td:nth-child(2){color: red}