table tr[id='15'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='19'] td:nth-child(2),
table tr[id='21'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='29'] td:nth-child(2){color: red}