table tr[id='5'] td:nth-child(2),
table tr[id='6'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='15'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='19'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='23'] td:nth-child(2){color: red}