table tr[id='7'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='21'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='32'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='35'] td:nth-child(2),
table tr[id='36'] td:nth-child(2),
table tr[id='37'] td:nth-child(2),
table tr[id='38'] td:nth-child(2),
table tr[id='48'] td:nth-child(2),
table tr[id='50'] td:nth-child(2),
table tr[id='53'] td:nth-child(2){color: red}