table tr[id='6'] td:nth-child(2),
table tr[id='7'] td:nth-child(2),
table tr[id='8'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='19'] td:nth-child(2),
table tr[id='21'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='28'] td:nth-child(2),
table tr[id='29'] td:nth-child(2),
table tr[id='33'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='36'] td:nth-child(2),
table tr[id='37'] td:nth-child(2),
table tr[id='38'] td:nth-child(2){color: red}