table tr[id='5'] td:nth-child(2),
table tr[id='9'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='15'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='19'] td:nth-child(2),
table tr[id='20'] td:nth-child(2),
table tr[id='21'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='25'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='30'] td:nth-child(2),
table tr[id='31'] td:nth-child(2),
table tr[id='40'] td:nth-child(2),
table tr[id='42'] td:nth-child(2),
table tr[id='43'] td:nth-child(2),
table tr[id='44'] td:nth-child(2),
table tr[id='46'] td:nth-child(2){color: red}