table tr[id='3'] td:nth-child(2),
table tr[id='28'] td:nth-child(2),
table tr[id='29'] td:nth-child(2),
table tr[id='30'] td:nth-child(2),
table tr[id='31'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='43'] td:nth-child(2),
table tr[id='46'] td:nth-child(2){color: red}