table tr[id='4'] td:nth-child(2),
table tr[id='8'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='19'] td:nth-child(2),
table tr[id='21'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='25'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='35'] td:nth-child(2),
table tr[id='43'] td:nth-child(2){color: red}