table tr[id='4'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='20'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='31'] td:nth-child(2),
table tr[id='32'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='35'] td:nth-child(2),
table tr[id='36'] td:nth-child(2),
table tr[id='37'] td:nth-child(2),
table tr[id='38'] td:nth-child(2),
table tr[id='39'] td:nth-child(2){color: red}