table tr[id='5'] td:nth-child(2),
table tr[id='6'] td:nth-child(2),
table tr[id='7'] td:nth-child(2),
table tr[id='8'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='11'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='15'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='21'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='25'] td:nth-child(2),
table tr[id='30'] td:nth-child(2),
table tr[id='39'] td:nth-child(2),
table tr[id='45'] td:nth-child(2),
table tr[id='46'] td:nth-child(2),
table tr[id='48'] td:nth-child(2),
table tr[id='50'] td:nth-child(2),
table tr[id='52'] td:nth-child(2),
table tr[id='54'] td:nth-child(2){color: red}