table tr[id='3'] td:nth-child(2),
table tr[id='4'] td:nth-child(2),
table tr[id='5'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='20'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='23'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='25'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='41'] td:nth-child(2),
table tr[id='44'] td:nth-child(2),
table tr[id='48'] td:nth-child(2),
table tr[id='50'] td:nth-child(2),
table tr[id='55'] td:nth-child(2),
table tr[id='56'] td:nth-child(2),
table tr[id='58'] td:nth-child(2),
table tr[id='59'] td:nth-child(2),
table tr[id='60'] td:nth-child(2),
table tr[id='62'] td:nth-child(2){color: red}