table tr[id='6'] td:nth-child(2),
table tr[id='7'] td:nth-child(2),
table tr[id='8'] td:nth-child(2),
table tr[id='9'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='14'] td:nth-child(2),
table tr[id='15'] td:nth-child(2),
table tr[id='18'] td:nth-child(2),
table tr[id='20'] td:nth-child(2),
table tr[id='21'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='28'] td:nth-child(2),
table tr[id='30'] td:nth-child(2),
table tr[id='32'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='36'] td:nth-child(2),
table tr[id='37'] td:nth-child(2),
table tr[id='38'] td:nth-child(2),
table tr[id='41'] td:nth-child(2),
table tr[id='42'] td:nth-child(2),
table tr[id='48'] td:nth-child(2),
table tr[id='49'] td:nth-child(2),
table tr[id='62'] td:nth-child(2),
table tr[id='72'] td:nth-child(2){color: red}