table tr[id='3'] td:nth-child(2),
table tr[id='4'] td:nth-child(2),
table tr[id='5'] td:nth-child(2),
table tr[id='6'] td:nth-child(2),
table tr[id='7'] td:nth-child(2),
table tr[id='8'] td:nth-child(2),
table tr[id='11'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='25'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='27'] td:nth-child(2),
table tr[id='28'] td:nth-child(2),
table tr[id='29'] td:nth-child(2),
table tr[id='30'] td:nth-child(2),
table tr[id='31'] td:nth-child(2),
table tr[id='32'] td:nth-child(2),
table tr[id='33'] td:nth-child(2),
table tr[id='34'] td:nth-child(2),
table tr[id='35'] td:nth-child(2),
table tr[id='36'] td:nth-child(2),
table tr[id='37'] td:nth-child(2),
table tr[id='39'] td:nth-child(2),
table tr[id='40'] td:nth-child(2),
table tr[id='41'] td:nth-child(2),
table tr[id='42'] td:nth-child(2),
table tr[id='43'] td:nth-child(2),
table tr[id='44'] td:nth-child(2),
table tr[id='45'] td:nth-child(2),
table tr[id='48'] td:nth-child(2),
table tr[id='49'] td:nth-child(2),
table tr[id='50'] td:nth-child(2){color: red}