table tr[id='3'] td:nth-child(2),
table tr[id='4'] td:nth-child(2),
table tr[id='7'] td:nth-child(2),
table tr[id='10'] td:nth-child(2),
table tr[id='11'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='20'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='26'] td:nth-child(2),
table tr[id='32'] td:nth-child(2){color: red}