table tr[id='2'] td:nth-child(2),
table tr[id='4'] td:nth-child(2),
table tr[id='5'] td:nth-child(2),
table tr[id='6'] td:nth-child(2),
table tr[id='9'] td:nth-child(2),
table tr[id='12'] td:nth-child(2),
table tr[id='13'] td:nth-child(2),
table tr[id='15'] td:nth-child(2),
table tr[id='16'] td:nth-child(2),
table tr[id='17'] td:nth-child(2),
table tr[id='22'] td:nth-child(2),
table tr[id='24'] td:nth-child(2),
table tr[id='28'] td:nth-child(2),
table tr[id='29'] td:nth-child(2),
table tr[id='30'] td:nth-child(2),
table tr[id='37'] td:nth-child(2),
table tr[id='38'] td:nth-child(2){color: red}